
body {
    font-family: Arial, sans-serif;
    background-color: #4FC3F7;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.header{
    margin-right: 90px;
}


footer{
    margin-left: -1px;
}

.container {
    display: flex;
    gap: 20px;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}




.game-play {
   
    background-size: cover;
    background-position: center;
    width: 350px;
    height: 500px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
}


.play-button {
    width: 350px;
    height: 500px;
    display: flex;
    border-radius: 20px;
   
}
.page{
    margin-bottom: 100px;
}




.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}



.learn-more {
    display: inline-block;
    background-color: #ffffff;
    color: #0097f4;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    text-decoration: none;
    margin-top: 10px;
}


.level-map {
   
    border-radius: 20px;
    width: 350px;
    height: 500px;
    margin-top: 300px;
}

.info-section{
     margin-top: 190px;
}

.challenge-section{
    margin-right: 60px;
}

@media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .level-map{
      display: relative;
    }
  
    .challenge-section, info-section {
      margin-bottom: 20px;
    }
  }